<!doctype html>
<html lang="en" ng-app="tdfApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>TDF</title>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="tdf.js"></script>
</head>


<body ng-controller="tdfController">
    <h3 style="text-align: center">Table Difficulty Factor</h3>
    <div>
        <table>
            <tr>
                <td>Table Size</td>
                <td>
                    <select ng-model="selectedTable" ng-options="table.name for table in tables"></select>
                </td>
            </tr>
            <tr>
                <td>Units</td>
                <td>
                    <input type="radio" ng-model="units" value="inch">Inch
                    <input type="radio" ng-model="units" value="cm">Cm
                </td>
            </tr>
            <tr>
                <td>Pocket mouth size</td>
                <td>
                    <input type="text" ng-model="mouth"/>
                </td>
            </tr>
            <tr>
                <td>Pocket throat size</td>
                <td>
                    <input type="text" ng-model="throat"/>
                </td>
            </tr>
            <tr>
                <td>Shelf depth</td>
                <td>
                    <input type="text" ng-model="shelf"/>
                </td>
            </tr>
        </table>
        <div style="margin-top: 20px; margin-bottom: 20px; text-align: center">
            <button ng-click="calculate()" style="width: 200px; height: 60px" ng-disabled="!mouth || !throat || !shelf">Calculate</button>
        </div>
    </div>
    <table id="tdfResults" ng-show="result">
        <tr><td>Table Size Factor:</td><td>{{result.tsf | number:2}}</td></tr>
    	<tr><td>Pocket Size Factor:</td><td>{{result.psf | number:2}}</td></tr>
    	<tr><td>Pocket Angle Factor:</td><td>{{result.paf | number:2}}</td></tr>
    	<tr><td>Pocket Shelf Factor:</td><td>{{result.plf | number:2}}</td></tr>
    	<tr><td>Table Difficulty Factor:</td><td>{{result.tdf | number:2}}</td></tr>
    	<tr><td>This table is </td><td>{{result.tdfClass}}</td></tr>
    </table>
</body>


</html>

